#root {
    width: 100vw;
    height: 100vh;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    .main {
        width: calc(100% - 256px);
        height: 100vh;
        left: 256px;
        position: absolute;
        transition: 0.5s;
        padding: 2rem;
    }
    .header {
        width: 100%;
        height: 6%;

        position: sticky;
        top: 0;
        z-index: 5;
        background-color: white;
    }
    .article {
        width: 100%;
        position: relative;
        top: 6vh;
        height: 94%;
    }
    .menu {
        width: 256px;
        transition: 0.4s;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 5;
        img {
            width: 180px;
            height: 180px;
        }
    }
}

.login {
    background-image: url('./asserts//login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}